<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hhg.jerry.dao.CityDao">
    <resultMap id="cityResultMap" type="City">
        <id property="id" column="ID" javaType="long" jdbcType="INTEGER" />
        <result property="name" column="Name"/>
        <result property="countryCode" column="CountryCode"/>
        <result property="district" column="district"/>
        <result property="population" column="population"/>
    </resultMap>
    <cache blocking="true" eviction="LRU" flushInterval="500" readOnly="true" size="100" type="perpetual"/>
    <select id="getById" resultType="City">
        SELECT * FROM city where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getByNameAndCountryCode" resultType="City">
        SELECT * FROM city where Name = #{name} and CountryCode = #{cCode,javaType=string,jdbcType=VARCHAR}
    </select>

    <select id="getByName" resultType="City">
        SELECT * FROM city where Name like '%${name}%'
    </select>

    <select id="getCityAsMapById" resultType="java.util.Map">
        SELECT * FROM city where id = #{id}
    </select>

    <select id="getListLTId" resultType="City" parameterType="java.lang.Long">
        select * from city where id &lt;= #{maxId}
    </select>

    <select id="getListCDATALtId" resultType="City" parameterType="java.lang.Long">
        select * from city where id  <![CDATA[<=]]> #{maxId}
    </select>

    <select id="getListBetweenIds" resultType="City">
        select * from city where id between #{arg0} and #{arg1} order by ${arg2}
    </select>

    <select id="getCityMappedById" resultType="City">
        select * from city where id &lt;= #{maxId}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into city(Name,CountryCode,District,Population) values (#{name}, #{countryCode}, #{district}, #{population})
    </insert>

    <update id="update" parameterType="City">
        update city set Name=#{name},CountryCode=#{countryCode},District=#{district},Population=#{population} where ID = #{id}
    </update>

    <delete id="delete">
        delete from city where ID = #{id}
    </delete>

    <select id="getCityIf" resultType="City">
        select * from city where CountryCode=#{countryCode}
        <if test="district != null">
            and District like #{district}
        </if>
    </select>

    <select id="getCityIfLike" resultType="City">
        <bind name="likeDistrict" value="'%' + district + '%'" />
        select * from city where CountryCode=#{countryCode}
        <if test="district != null">
            and District like #{likeDistrict}
        </if>
    </select>

    <select id="getCityChoose" resultType="City" parameterType="City">
        select * from city where CountryCode=#{countryCode}
        <choose>
            <when test="name != null">
                and Name = #{name}
            </when>
            <when test="district != null">
                and District = #{district}
            </when>
            <otherwise>
                and Name = 'Peking'
            </otherwise>
        </choose>
    </select>

    <select id="getCityWhere" resultType="City" parameterType="City">
        select * from city
        <where>
            <if test="countryCode != null">CountryCode=#{countryCode}</if>
            <if test="name != null">and Name=#{name}</if>
            <if test="district != null">and District=#{district}</if>
        </where>
    </select>

    <select id="getCityTrim" resultType="City" parameterType="City">
        select * from city
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="countryCode != null">CountryCode=#{countryCode}</if>
            <if test="name != null">and Name=#{name}</if>
            <if test="district != null">and District=#{district}</if>
        </trim>
    </select>

    <update id="updateSet" parameterType="City">
        update city
        <set>
            <if test="name != null">Name=#{name},</if>
            <if test="countryCode != null">CountryCode=#{countryCode},</if>
            <if test="district != null">District=#{district},</if>
            <if test="population != null">Population=#{population}</if>
        </set>
        where ID = #{id}
    </update>

    <update id="updateTrim" parameterType="City">
        update city
            <trim prefix="SET" suffixOverrides=",">
                    <if test="name != null">Name=#{name},</if>
                    <if test="countryCode != null">CountryCode=#{countryCode},</if>
                    <if test="district != null">District=#{district},</if>
                    <if test="population != null">Population=#{population}</if>
            </trim>
        where ID = #{id}
    </update>

    <!-- index是集合索引，item为该索引的元素 -->
    <select id="getCityForEachList" resultType="City" parameterType="java.util.List">
        select * from city where ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item},#{index}
        </foreach>
    </select>

    <!-- index是集合索引，item为该索引的元素 -->
    <select id="getCityForEachArray" resultType="City">
        select * from city where ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item},#{index}
        </foreach>
    </select>

    <!-- index是集合索引，item为该索引的元素 -->
    <select id="getCityForEachSet" resultType="City" parameterType="java.util.Set">
        select * from city where ID in
        <foreach item="item" index="index" collection="collection" open="(" separator="," close=")">
            #{item},#{index}
        </foreach>
    </select>

    <select id="getCityForEachMap" resultType="City">
        select * from city where ID in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item},#{index}
        </foreach>
    </select>
</mapper>