<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hhg.jerry.dao.CityDao">
    <cache blocking="true" eviction="LRU"
           flushInterval="500" readOnly="false" size="100" type="perpetual"/>
    <select id="getById"
            resultType="com.hhg.jerry.model.City"
            parameterType="java.lang.Long"
            useCache="true" flushCache="false">
        SELECT * FROM city where id = #{id}
    </select>

</mapper>